<form method="POST" action="/figures/<%=@figure.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="figure[name]">Name:</label>
  <input id="figure_name" type="text" name="figure[name]" value="<%=@figure.name%>"/>
  <h2>Titles</h2>
  <% @titles.each do |title| %>
    <input type="checkbox" <%= 'checked' if @figure.titles.include?(title)==true %> name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"/>
  <% end %>
  <h2>Create A New Title</h2>
  <input id="new_title" type="text" name="title[name]" />
  <h2>Landmarks</h2>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" <%= 'checked' if @figure.landmarks.include?(landmark)==true %> name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>" />
  <% end %>
  <h2>Create A New Landmark</h2>
  <input id="new_landmark" type="text" name="landmark[name]" />
  <input type="submit" id="Create" value="Edit Figure"/>
</form>
