<form method="POST" action="/figures">
  <label for="figure[name]">Name:</label>
  <input id="figure_name" type="text" name="figure[name]"/>
  <h2>Titles</h2>
  <% @titles.each do |title| %>
    <h2><%=title.name%></h2>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"/>
  <% end %>
  <h2>Create A New Title</h2>
  <input id="new_title" type="text" name="title[name]" />
  <h2>Landmarks</h2>
  <% @landmarks.each do |landmark| %>
    <h2><%=landmark.name%></h2>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>" />
  <% end %>
  <h2>Create A New Landmark</h2>
  <input id="new_landmark" type="text" name="landmark[name]" />
  <input type="submit" id="Create" value="Create New Figure"/>
</form>
